.cronometro{
    
    height: 200px;
    text-align: center;
    font-size: 60px;
    padding-top: 40px;
    border-radius: 20px;
    border: burlywood 2px solid;
}

.contagem{
   
width: 456px;
height: 142px;
left: 45px;
top: 219px;
}
.texto{
left: 0%;
right: 0%;
top: 0%;
bottom: 41.38%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 59px;
text-align: center;

color: #FFFFFF;
}
.texto2{
    left: 4.42%;
right: 8.23%;
top: 58.62%;
bottom: 0%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #FFFFFF;
}
.texto3{
    width: 406px;
height: 434px;
left: 47px;
top: 714px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;
}
.verde{
    width: 467px;
height: 468px;
left: 522px;
top: 219px;

background: rgba(125, 213, 128, 0.8);
border-radius: 20px;
}
.texto4{
    width: 466px;
height: 146px;
left: 523px;
top: 228px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #000000;

}
.body{
    background: #E5E5E5;
}
<<<<<<< HEAD

=======
>>>>>>> b9a200f6a6b2e1bf9e2c11d93dd97c2428680aa8
