.navbar {
      
      max-height: 100px;
      padding-left: 30px;
      padding-top: 20px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    

    }
     
     .container {
      background-color: #14252F;
      border-radius: 0 0 20px 20px;
      height: 1500px;
    }

    #rowCronometro {
      margin-top: 20px;
      margin-bottom: 50px;
    }

    .cronometro {
      max-width: 600px;
      font-size: 20px;
      background-color: whitesmoke;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 30px;

    }

    .cronometro h5 {
      text-decoration: underline;
      margin-bottom: 20px;
    }

    #demo {
      text-align: center;

    }

    #formulario {
      background-color: beige;
      padding: 20px 20px 20px 20px;
      border-radius: 10px;
      margin-right: 20px;
    }

    .texto1 {
        width: 693px;
        height: 140px;
        left: 62px;
        top: 188px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 72px;
        line-height: 84px;
        color: white;
    }

    .texto2 {
        width: 707px;
        height: 50px;
        left: 62px;
        top: 344px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: white;
    }

     .texto3 {
          color: white;
      }

     .texto4 {           
       text-align: center;
    }
