body{
      font-family: 'Roboto', sans-serif;

}
.container{
position: cover;
}
.navbar {
      /* max-width: 1200px; */
      max-height: 80px;
      padding-left: 100px;
      padding-top: 10px;
      
      
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }

    .navbar img{
      padding-bottom: 20px;
    }
     
     .container{
      max-width: 100%;
      background-color: #14252F;
      height:944px;
    }

    #content{
     padding-top: 30px;
}

     #colunaDois{
      padding-top: 45px;
      
    }

    

    .cronometro {
      max-width: 600px;
      font-size: 16px;
      background-color: white;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      padding: 30px;
      margin-bottom: 20px

    }

    .cronometro h5 {
      text-decoration: underline;
      margin-bottom: 20px;
      color: red;
    }

    #demo {
      text-align: center;
      border: 2px solid red;
      border-radius: 10px;
    }

    #formulario {
     
      height: 600px;
      background-color: white;
      padding: 20px 20px 20px 20px;
      border-radius: 10px;
      margin-right: 5px;
      margin-left: 60px;
    }

    .texto1 {
        
        height: 140px;
        left: 62px;
        top: 188px;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 75px;
        color: white;
        padding-left: 60px;
    }

    .texto1 h1{
      font-size: 35px;
      
    }

    .texto2 {
       
        height: 50px;
        left: 62px;
        top: 344px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 25x;
        color: #FFFFFF;
        margin-bottom: 50px;
        padding-left: 60px;
        margin-top: 0;
    }

    .texto2 h2{
      font-size: 28px;
      padding-left: 30px;
    }

    .texto3 {
        padding-left: 60px;
        height: 272px;
        left: 63px;
        top: 418px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: #FFFFFF;
    }

    .texto3 p{
      
      font-size: 18px;
      line-height: 1.5rem;
      justify-content: justify;
    }

   .texto4 {
      margin-left: 20px;
      font-size: 40px;
      padding-bottom: 5px;
      margin-bottom: 18px;
      line-height: inherit;
      font-weight: bold;
      color: black;
         
    }

    .text4{
      padding-bottom: 0;
      height: 50px;
    }

    .convidados {
        width: 195px;
        height: 40px;
        left: 59px;
        top: 726px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        color: #FFFFFF;
    }

    .depo p {
        width: 165px;
        height: 94px;
        left: 204px;
        top: 815px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }

    ul.a {
        list-style-type: circle;
        color: white;
    }

   .depo {
    color: #FFFFFF;
   }

   .button  {
     background-color: white !important;
    border: 1px solid black !important;
    padding: 15px;
    height: 45px;
    line-height: 45px;
    color: #6DC06F !important;
    font-size: 18px;
    width: 100%;
    border-radius: 500px;
    margin-bottom: 15px;
    transition-duration: 0.5s !important;
    }
     
    .button:hover {
      background-color: #4CAF50 !important;
      color: white !important;
    }
   
    .col-md-6 {
      text-align: center;
      margin: auto;
    }

    div#footer {
      background-color: #6DC06F;
      text-align: center;
    }

    address {
      margin-bottom: 1rem;
      font-style: normal;
      line-height: inherit;
      margin: auto;
      font-size: 15px;
    }

    span.copy {
      font-size: 18px;
    }

@media only screen and (max-width: 480px) {

  
  #menuNav{
    max-width: 300px;
  
  }

  .navbar{
    padding-top: 8px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  }
      
  img{
    width: 170px!important;
    height: 85px!important;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
  }
  .container{
    height: auto;
  }

  .colunaUm{
    height: 2100px;
  }

  #content{
    max-height: auto;
  }
  
  #formulario{
    
    text-align: center;
    margin: 0;
  }
  .texto4 {
    padding: 10px;
    align-items: center;
    text-align: center;
    left: 923px;
    top: 452px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    color: #14252F;
    }

    .texto1{
      padding: 10px;
      font-size: 30px;
      line-height: 30px;
      height: 80px;
      margin-bottom: 40px;
    }

    .texto2 {
      padding: 10px;
      font-size: 16px;
      margin-bottom: 0;
    }

    .texto3{
      padding: 10px;
    }
    .texto3 p{
      line-height: unset;
      font-size: 15px;
      padding-left: 0;
    }

    .texto3 li{
      font-size: 15px;
      text-decoration: none;
      
    }
}
