*{
      font-family: 'Roboto', sans-serif;

}


.navbar {
      max-height: 80px;
      padding-left: 100px;
      padding-top: 10px;
      
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }

.navbar img{
      padding-bottom: 20px;
    }
     
     .container{
      max-width: 1400px;
      background-color: #14252F;
      border-radius: 0 0 20px 20px;
      height: 1000px;
    }

#content{
     padding-top: 30px;
}

     #colunaDois{
      padding-top: 30px;
    }

    

    .cronometro {
      max-width: 600px;
      font-size: 20px;
      background-color: whitesmoke;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      padding: 30px;
      margin-bottom: 20px

    }

    .cronometro h5 {
      text-decoration: underline;
      margin-bottom: 20px;
    }

    #demo {
      text-align: center;

    }

    #formulario {
      background-color: beige;
      padding: 20px 20px 20px 20px;
      border-radius: 10px;
      margin-right: 20px;
    }

    .texto1 {
        width: 693px;
        height: 140px;
        left: 62px;
        top: 188px;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 84px;
        color: white;
    }

    .texto2 {
        
        height: 50px;
        left: 62px;
        top: 344px;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: #FFFFFF;
    }

    .texto3 {
        width: 707px;
        height: 272px;
        left: 63px;
        top: 418px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 19px;
        color: #FFFFFF;
    }

   .texto4 {
      text-align: center!important;
      font-size: 20px;
      margin-bottom: 18px;
      line-height: inherit;
      font-weight: bold;
      color: black;
         
    }

    .convidados {
        width: 195px;
        height: 40px;
        left: 59px;
        top: 726px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        color: #FFFFFF;
    }

    .depo p {
        width: 165px;
        height: 94px;
        left: 204px;
        top: 815px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }

    ul.a {
        list-style-type: circle;
        color: white;
    }

   .depo {
    color: #FFFFFF;
   }

   .texto4 {
    width: 365px;
    height: 99px;
    left: 923px;
    top: 452px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    color: #14252F;
    }

@media only screen and (max-width: 500px) {
  #formulario{
    margin: 0;
  }
}
